
<!DOCTYPE html>
<html>    
    <head>        
    </head>    
<body>    
    <div>
        <a href='https://kauth.kakao.com/oauth/authorize?client_id={REST_API_KEY}&redirect_uri=http://localhost:3000/user/kakao/oauth&response_type=code'>click</a>
    </div>
</body>

</html>